.callout {
	max-width: 400px;
    margin: 10px;
    border: 1px solid rdg(0,0,0,.1);
    padding: 15%;
    background-color: royalblue;
    color: #fff;
}

.callout img {
	float: right;
    margin: 0 0 10px 15px;
    border: 1px solid black;
    padding: 5px;
    background-color: gray;
    width: 100px;
    height: auto
}

blockquote {
	margin: 0;
}

cite {
	display: block;
    border-top: 1px dotted #fff;
    padding-top: 3px;
    text-align: right;
    font-size-adjust: smaller;
}